.btn {
  border: none;
  border-radius: 6px;
  padding: 1.2rem;
  color: $color-text;
  cursor: pointer;
}

.btn-question {
  background: $color-bg-main;
  width: 90px;
  height: 90px;
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  z-index: 200;

  &:hover {
    background: darken($color-bg-main, 4%);
  }
}

.btn-question__popup {
  opacity: 0;
  width: 350px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.7rem;
  border-radius: 20px;
  text-align: left;
  font-size: 1.5rem;
  background: $color-bg-fade;
  color: $color-text-reverse;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  z-index: 100;
  pointer-events: none;

  h2 {
    text-align: center;
  }

  p {
    margin: 0;
    margin-top: 1rem;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.btn-menu {
  background: $color-bg-accent;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  position: relative;

  &:hover {
    background: darken($color-bg-accent, 15%);
  }
}

.btn-create__popup {
  &--already-created::after,
  &--invalid-form::after,
  &--wait::after,
  &--server-invalid-form::after,
  &--rematch-declined::after,
  &--disconnect::after,
  &--other-exit::after,
  &--connecting::after,
  &--connected::after,
  &--disconnected::after {
    display: block;
    white-space: nowrap;
    position: absolute;
    right: 0;
    top: -30px;
    z-index: 2;
    font-size: 1.3rem;
    position: absolute;
    color: $color-btn-decline;
    pointer-events: none;
    font-weight: 400;
  }

  &--already-created::after {
    content: attr(data-already-created);
  }

  &--invalid-form::after {
    content: attr(data-invalid-form);
  }

  &--wait::after {
    color: $color-btn-accept;
    content: attr(data-wait);
  }

  &--server-invalid-form::after {
    content: attr(data-server-invalid-form);
  }

  &--rematch-declined::after {
    content: attr(data-rematch-declined);
  }
  &--disconnect::after {
    content: attr(data-disconnect);
  }

  &--other-exit::after {
    content: attr(data-other-exit);
  }

  &--connecting::after {
    content: attr(data-connecting);
  }

  &--connected::after {
    color: $color-btn-accept;
    content: attr(data-connected);
  }

  &--disconnected::after {
    content: attr(data-disconnected);
  }
}

.btn-select-jet {
  width: 80px;
  height: 80px;
  background: $color-bg-accent;
  position: relative;
  z-index: 2;
  box-shadow: inset 0 0 0 0;
  transition: 100ms;
  img {
    transform: scale(2, 2);
  }

  &:hover {
    box-shadow: inset 0 0 0 4px $color-text;
  }
}

.btn-select-jet__popup {
  opacity: 0;
  position: absolute;
  z-index: 1;
  height: 90px;
  padding: 5px;
  border-radius: 10px;
  text-align: left;
  font-size: 0;
  background: $color-text;
  color: $color-text-reverse;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  pointer-events: none;

  button:first-child {
    margin-right: 5px;
  }
}

.btn-accept {
  background: $color-btn-accept;
  width: 30%;
  margin-right: 40px;
}

.btn-decline {
  background: $color-btn-decline;
  width: 30%;
}
