.game {
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  background: $color-bg-secondary;
  position: relative;
  @include flexCenter(column);
}

.canvas {
  background: $color-bg-accent;
  border-radius: 10px;
}

.game__scores {
  margin: 50px 0 30px 0;
  @include flexCenter(row);
  border-radius: 10px;
  width: 600px;
}

.game__scores__p1,
.game__scores__p2 {
  font-size: 2.4rem;
  text-align: center;
  background: $color-bg-secondary;
  border-radius: 10px;
  padding: 10px;
  width: 160px;
}

.game__scores__p1 {
  margin-right: 120px;
}

.game__countdown {
  @include flexCenter(row);
  position: absolute;
  background: $color-bg-countdown;
  color: $color-text-reverse;
  font-size: 5rem;
  font-weight: 700;
}
