// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.fade-translate-up {
  opacity: 1 !important;
  transform: translate(0, -26px);
}

.fade-translate-down {
  opacity: 1 !important;
  transform: translate(0, 30px);
}

.fade {
  opacity: 1 !important;
}

.block {
  display: block !important;
}
