// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.fade-translate-up {
  opacity: 1 !important;
  transform: translate(0, -26px);
}

.fade-translate-down {
  opacity: 1 !important;
  transform: translate(0, 30px);
}

.fade {
  opacity: 1 !important;
}

.block {
  display: block !important;
}

.red-outline {
  outline: 2px solid $color-btn-decline;
}

.tooltip {
  position: relative;

  &::after {
    display: block;
    white-space: nowrap;
    content: attr(data-title);
    position: absolute;
    left: 120%;
    top: 10px;
    z-index: 2;
    font-size: 1.3rem;
    position: absolute;
    color: $color-btn-decline;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    pointer-events: none;
  }

  &:hover::after {
    opacity: 1;
  }
}
