.game {
  margin: 0 auto;
  height: 400px;
  width: 700px;
  background: #fff;
  position: relative;
}

.canvas {
  background: pink;
  margin: 50px;
}

.game__score-p1 {
  font-size: 2.4rem;
  position: absolute;
  top: 0;
  left: 200px;
  text-align: center;
}

.game__score-p2 {
  font-size: 2.4rem;
  position: absolute;
  top: 0;
  right: 200px;
  text-align: center;
}
