// -----------------------------------------------------------------------------
// This file contains all styles related to the popup message
// -----------------------------------------------------------------------------

// these variables can be used for dark/light theme implemenetation
.pop-up-message {
  --color-pop-up-message-bg: #{$color-pop-up-message-bg-light};
  --color-pop-up-message-text: #{$color-pop-up-message-text-light};
}

.pop-up-message {
  position: fixed;
  z-index: 1000;
  top: 10px;
  left: 30%;
  right: 30%;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  background: var(--color-pop-up-message-bg);
  color: var(--color-pop-up-message-text);
  font-size: 1.2rem;
  font-weight: 700;
  opacity: 0;
  transition: opacity 400ms ease-in-out;

  &--fade-in {
    opacity: 1;
  }
}

.pop-up-message--rematch {
  position: absolute;
  top: 20px;
  text-align: center;
  background: $color-text;
  color: $color-text-reverse;
  font-weight: 700;
  padding: 30px 50px;
  border-radius: 10px;
  z-index: 1000;

  p {
    margin-top: 0;
    font-size: 2.5rem;
  }
}
